# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data, runs, model files
/data/*
!/data/.gitkeep
/runs/*
!/runs/.gitkeep
/results/*
!/results/.gitkeep
*.keras
*.h5
*.weights.h5
*.ckpt

# Logs
logs/
*.log

# IDE/System
.vscode/
.idea/
.DS_Store
Thumbs.db
